.add-btn {
  /*need to fix positioning of button later, center "+" icon somehow*/
    font-family:'Segoe UI';
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 2em;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    cursor: pointer;
    bottom: 10%;
    right: 4%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
  .add-btn-topopup {
      font-family:'Segoe UI';
      height: 50px;
      width: 50px;
      position:relative;
      line-height: 50px;
      font-size: 2em;
      border-radius: 50%;
      background-color: white;
      color: black;
      text-align: center;
      border: none;
      cursor: pointer;
      bottom: 10%;
      right: 4%;
      box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }
  .bubble{
    font-family:'Segoe UI';
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 2em;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    padding-right: 10px;
    cursor: pointer;
    bottom: 10%;
    right: 4%;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  }
  .name-txt{
    box-shadow: 3px 3px 4px  rgba(0,0,0,.5);
    
  }
  .popup-overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:absolute;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter:blur(2px);
    opacity: 80;
    visibility:hidden;
  }
  .popup-txt {
    font-family: Segoe UI;
  }